html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans SemiBold";
  src: url("OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.dropdown {
  position: relative;
}

.dropdown__button {
  position: relative;
  min-width: 123px;
  min-height: 100%;
  padding: 10px 30px 9px 10px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: #333333;
  background-color: #e7e5eb;
  border: 1px solid #c8c5d1;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.dropdown__button::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 10px;
  width: 11px;
  height: 6px;
  background-image: url("../img/arrow-down.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease-in-out;
}
.dropdown__button:hover {
  background-color: rgba(190, 123, 69, 0.2);
}
.dropdown__button:focus-visible {
  background-color: #aba9b1;
}
.dropdown__button--active {
  background-color: #e7e5eb;
}
.dropdown__button--active::after {
  transform: rotate(180deg);
  transition: transform 0.2s ease-in-out;
}
.dropdown__button--active:focus-visible {
  background-color: #e7e5eb;
}

.dropdown__list {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #f4f3f6;
  border: 1px solid #c8c5d1;
  outline: none;
  transform: translateY(-10px);
  list-style-type: none;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.dropdown__list--visible {
  transform: translateY(-1px);
  opacity: 1;
  visibility: visible;
}

.dropdown__list-item {
  padding: 11px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  outline: none;
  color: #333333;
  cursor: pointer;
}

.dropdown__list-item:hover {
  background: rgba(190, 123, 69, 0.2);
}

.dropdown__input-hidden {
  display: none;
}

.btn {
  position: relative;
  display: flex;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1440px) {
  .btn {
    font-size: 12px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__wrap {
  opacity: 1;
  transform: perspective(600px) translateY(0) rotateX(0deg);
}
.popup__body {
  min-height: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup__wrap {
  position: relative;
  min-width: 450px;
  background-color: #ffffff;
  transform: perspective(600px) translateY(-100%) rotateX(45deg);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
@media (max-width: 576px) {
  .popup__wrap {
    min-width: 100%;
  }
}
.popup__close {
  position: absolute;
  top: 22px;
  right: 22px;
}
.popup__close svg {
  display: block;
  height: 100%;
}
.popup__close svg path {
  transition: fill 0.2s ease-in-out;
}
.popup__close:hover svg path {
  fill: #9873ff;
}
.popup__close:active svg path {
  fill: #7b61ff;
}
.popup__close:focus-visible svg path {
  fill: #7b61ff;
}
.popup__title {
  padding: 24px 0 15px 30px;
  font-family: "Open Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}
@media (max-width: 576px) {
  .popup__title {
    font-size: 14px;
    padding: 24px 0 15px 6%;
  }
}
.popup__title span {
  padding-left: 9px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #b0b0b0;
}
@media (max-width: 576px) {
  .popup__title span {
    display: block;
    padding-left: 0;
  }
}
.popup__title-mod {
  margin-bottom: 8px;
  padding-left: 0;
  text-align: center;
}
.popup__subtitle {
  max-width: 250px;
  margin: 0 auto 32px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #333333;
}
.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
}
.popup__form-label {
  position: relative;
  min-width: 390px;
  height: 41px;
  max-height: 100%;
  margin-bottom: 5px;
}
@media (max-width: 576px) {
  .popup__form-label {
    min-width: 88%;
  }
}
.popup__form-label span {
  position: absolute;
  top: 1px;
  left: 1px;
  display: inline-block;
  padding: 10px 10px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b0b0b0;
  transition: 0.5s;
  pointer-events: none;
}
.popup__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 41px;
  max-height: 100%;
  margin: 0 auto;
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  padding: 25px 20px 10px 0;
  background-color: transparent;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 1px solid #c8c5d1;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.popup__input:hover {
  background-color: #ececec;
}
.popup__input:focus-visible {
  border-bottom: 1px solid #f06a4d;
}
.popup__input:focus ~ span {
  font-size: 14px;
  transform: translateX(-10px) translateY(-12px);
}
.popup__input:focus ~ span strong {
  color: #9873ff;
}
.popup__input.has-content ~ span, .popup__input.has-content ~ span, .popup__input.has-content ~ span {
  font-size: 14px;
  transform: translateX(-10px) translateY(-12px);
}
.popup__input.has-content ~ span strong, .popup__input.has-content ~ span strong, .popup__input.has-content ~ span strong {
  color: #9873ff;
}
.popup-form {
  min-width: 100%;
  margin-top: 25px;
  background-color: #f4f3f6;
}
.popup-form-input-wrap {
  position: relative;
  width: 100%;
}
.popup-form-input__input {
  width: 100%;
  padding: 8px 8px 8px 10px;
  margin: 0;
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  background-color: transparent;
  border-top: 1px solid #c8c5d1;
  border-bottom: 1px solid #c8c5d1;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}
.popup-form-input__input::-moz-placeholder {
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  color: #b0b0b0;
}
.popup-form-input__input::placeholder {
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  color: #b0b0b0;
}
.popup-form-input__input:hover {
  background-color: #dadada;
}
.popup-form-input__input:active, .popup-form-input__input:focus-visible {
  background-color: #ffffff;
}
.popup-form-input {
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 87%;
  margin: 25px auto 0;
}
.popup-form-input:last-child {
  margin-bottom: 25px;
}
.popup-form-input-close {
  position: relative;
  min-width: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e5eb;
  outline: none;
  border: 1px solid #c8c5d1;
  cursor: pointer;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.popup-form-input-close svg {
  z-index: 20;
  width: 20px;
  height: 20px;
}
.popup-form-input-close:hover, .popup-form-input-close:active, .popup-form-input-close:focus-visible {
  border: 1px solid #f06a4d;
}
.popup-form-input-close:hover svg path, .popup-form-input-close:active svg path, .popup-form-input-close:focus-visible svg path {
  fill: #f06a4d;
}
.popup-form-button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px;
  padding: 8px 0;
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  transition: color 0.2s ease-in-out;
}
.popup-form-button-add-svg-wrap {
  width: 14px;
  max-width: 100%;
  height: 14px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  border-radius: 51%;
  outline: 2px solid #9873ff;
  outline-offset: -1px;
  transition: background-color 0.2s ease-in-out;
}
.popup-form-button-add svg {
  display: block;
  height: 100%;
}
.popup-form-button-add svg path {
  transition: fill 0.2s ease-in-out;
}
.popup-form-button-add:hover {
  color: #9873ff;
}
.popup-form-button-add:hover .popup-form-button-add-svg-wrap {
  background-color: #9873ff;
}
.popup-form-button-add:hover svg path {
  fill: #ffffff;
}
.popup-form-button-add:active, .popup-form-button-add:focus-visible {
  color: #7951e7;
}
.popup-form-button-add:active .popup-form-button-add-svg-wrap, .popup-form-button-add:focus-visible .popup-form-button-add-svg-wrap {
  outline: 2px solid #7b61ff;
  background-color: #7b61ff;
}
.popup-form-button-add:active svg path, .popup-form-button-add:focus-visible svg path {
  fill: #ffffff;
}
.popup-form-button-add-none {
  opacity: 0;
  visibility: hidden;
  margin: 0 auto;
  overflow: hidden;
}
.popup__button-save {
  margin: 25px auto 15px;
  padding: 12px 35px;
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
  background-color: #9873ff;
  transition: background-color 0.2s ease-in-out;
}
.popup__button-save:hover {
  background-color: #7b61ff;
}
.popup__button-save:active {
  background-color: #5b43d3;
}
.popup__button-save:focus-visible {
  background-color: #c8c5d1;
}
.popup__button-del, .popup__button-chanel {
  margin: 0 auto 25px;
  padding-bottom: 3px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  border-bottom: 1px solid #333333;
  transition: border-bottom 0.2s ease-in-out;
}
.popup__button-del:hover, .popup__button-chanel:hover {
  border-bottom: 1px solid transparent;
}

@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.spinner {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  background: rgba(0, 0, 0, 0.5);
}

.spinner-change-popup {
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate3d(-50%, -50%, 0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner div,
.spinner-change-popup div {
  position: absolute;
  width: 105px;
  height: 105px;
  border: 6px solid #9873ff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 2.5s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
}
@media (max-width: 1024px) {
  .spinner div,
  .spinner-change-popup div {
    width: 85px;
    height: 85px;
    border: 5px solid #9873ff;
    border-top-color: transparent;
  }
}
@media (max-width: 768px) {
  .spinner div,
  .spinner-change-popup div {
    width: 55px;
    height: 55px;
    border: 4px solid #9873ff;
    border-top-color: transparent;
  }
}
@media (max-width: 576px) {
  .spinner div,
  .spinner-change-popup div {
    width: 35px;
    height: 35px;
    border: 3px solid #9873ff;
    border-top-color: transparent;
  }
}

@keyframes spinner-save-btn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.spinner-save-btn {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.spinner-save-btn span {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 3px solid #B89EFF;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 2.5s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  background-color: #f5f5f5;
  overflow-x: hidden;
}
body.lock {
  overflow-y: hidden;
}

.header-search-list {
  width: 100%;
  position: absolute;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-search-list li {
  margin: 0;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}
.header-search-list li.color-search-selected {
  background-color: #9873ff;
  opacity: 0.8;
}
.header-search-list a {
  display: inline-block;
  padding: 10px 18px;
  width: 100%;
}
.header-search-list a:focus {
  outline: none;
  background-color: #9873ff;
  transition: background-color 0.3s ease-in-out;
}
.header-search-list span {
  display: inline-block;
}
.header-search-list .color-search-item {
  background-color: #9873ff;
}

.color-search-item {
  background-color: #9873ff;
}

.error-server-message {
  width: 255px;
  max-width: 100%;
  margin: 8px 0;
  font-family: "Open Sans Regular", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 10px;
  color: #f06a4d;
}

.error input {
  border: 1px solid red;
  transition: border 0.3s ease-in-out;
}

.error-label {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: red;
  margin-top: 2px;
  pointer-events: none;
}

.error-label-selects {
  position: absolute;
  top: -15px;
  left: 58px;
  font-size: 12px;
  color: red;
}

.error-label-selects-tel {
  width: 100%;
  position: absolute;
  top: -15px;
  left: 53%;
  transform: translateX(-50%);
  font-size: 12px;
  color: red;
}

.tippy-box {
  font-family: "Open Sans SemiBold", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32), 0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}
.header__form {
  position: relative;
  min-width: 40%;
}
@media (max-width: 768px) {
  .header__form {
    width: 85%;
  }
}
.header__form-input {
  width: 100%;
  padding: 9px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid #b0b0b0;
  color: #000000;
  background-color: transparent;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}
.header__form-input::-moz-placeholder {
  color: #b0b0b0;
}
.header__form-input::placeholder {
  color: #b0b0b0;
}
.header__form-input:hover {
  background-color: #ececec;
}
.header__form-input:focus-visible {
  background-color: #ececec;
}

.header-logo {
  width: 50px;
  max-width: 100%;
  height: 50px;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 53px;
  font-family: "Open Sans Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  border-radius: 50%;
  background: #9873ff;
}
@media (max-width: 768px) {
  .header-logo {
    width: 40px;
    height: 40px;
    margin-right: 23px;
    font-size: 14px;
    line-height: 20px;
  }
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 90px;
}
@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  .container {
    overflow-x: auto;
  }
}

.title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 26px;
  max-width: 120px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
@media (max-width: 576px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }
}

.workers-table {
  display: none;
  width: 100%;
  margin-bottom: 40px;
  border-collapse: collapse;
}
@media (max-width: 768px) {
  .workers-table {
    width: 768px;
  }
}
.workers-table thead th {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
  text-align: left;
}
.workers-table__row th {
  padding-bottom: 8px;
}
.workers-table__id {
  cursor: pointer;
}
.workers-table__id::after {
  content: "";
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2px;
  width: 8px;
  height: 8px;
  transition: transform 0.2s ease-in-out;
}
.workers-table__id.active::after {
  transform: rotate(180deg);
}
.workers-table__fio {
  cursor: pointer;
}
.workers-table__fio span {
  font-family: "Open Sans SemiBold", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #9873ff;
}
.workers-table__fio span::before {
  content: "";
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2px;
  width: 8px;
  height: 8px;
  transition: transform 0.2s ease-in-out;
}
.workers-table__fio.active span::before {
  transform: rotate(180deg);
}
.workers-table__create-date {
  cursor: pointer;
}
.workers-table__create-date::after {
  content: "";
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2px;
  width: 8px;
  height: 8px;
  transition: transform 0.2s ease-in-out;
}
.workers-table__create-date.active::after {
  transform: rotate(180deg);
}
.workers-table__last-changes {
  cursor: pointer;
}
.workers-table__last-changes::after {
  content: "";
  display: inline-block;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2px;
  width: 8px;
  height: 8px;
  transition: transform 0.2s ease-in-out;
}
.workers-table__last-changes.active::after {
  transform: rotate(180deg);
}

.workers-table__list {
  position: relative;
  background-color: #ffffff;
}
.workers-table__list tr {
  height: 60px;
  max-height: 100%;
  border-bottom: 1px solid #c8c5d1;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
@media (max-width: 1440px) {
  .workers-table__list tr {
    font-size: 14px;
    line-height: 20px;
  }
}
.workers-table__list td:last-child {
  margin-right: 0;
}
.workers-table__list-id {
  padding-left: 10px;
  color: #b0b0b0;
}
@media (max-width: 1440px) {
  .workers-table__list-id {
    padding-right: 15px;
  }
}
.workers-table__list-fio {
  padding-right: 25px;
}
@media (max-width: 1440px) {
  .workers-table__list-fio {
    max-width: 200px;
  }
}
@media (max-width: 991px) {
  .workers-table__list-fio {
    padding-right: 10px;
  }
}
@media (max-width: 991px) {
  .workers-table__list-createdAt {
    width: 90px;
  }
}
@media (max-width: 991px) {
  .workers-table__list-updatedAt {
    width: 90px;
  }
}
.workers-table__list-createdAt span, .workers-table__list-updatedAt span {
  padding-left: 5px;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #b0b0b0;
}
@media (max-width: 1440px) {
  .workers-table__list-createdAt span, .workers-table__list-updatedAt span {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .workers-table__list-createdAt span, .workers-table__list-updatedAt span {
    padding-left: 0;
  }
}
.workers-table__list-contacts {
  height: 60px;
  max-height: 100%;
}
.workers-table__list-contacts-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-right: 5px;
  max-width: 110px;
  transition: background-color 0.2s ease-in-out;
}
@media (max-width: 1440px) {
  .workers-table__list-contacts-wrap {
    max-width: 115px;
    margin-right: 12px;
    padding: 10px 0;
  }
}
@media (max-width: 991px) {
  .workers-table__list-contacts-wrap {
    margin: 0 auto;
  }
}
.workers-table__list-contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 18px;
  max-width: 100%;
  height: 18px;
  max-height: 100%;
  background-color: #9873ff;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
.workers-table__list-contact-btn.hidden {
  display: none;
}
.workers-table__list-contact-btn:hover, .workers-table__list-contact-btn:active, .workers-table__list-contact-btn:focus-visible {
  background-color: #7b61ff;
}
.workers-table__list-contact-btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 18px;
  max-width: 100%;
  height: 18px;
  max-height: 100%;
  border-radius: 50%;
  border: 2px solid #9873ff;
  background-color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}
.workers-table__list-contact-btn-more:hover, .workers-table__list-contact-btn-more:active, .workers-table__list-contact-btn-more:focus-visible {
  background-color: #9873ff;
}
.workers-table__list-contact-btn-more-text {
  margin-left: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}
.workers-table__list-contact-btn-more-text:hover, .workers-table__list-contact-btn-more-text:active, .workers-table__list-contact-btn-more-text:focus-visible {
  color: #ffffff;
}
.workers-table__list-actions {
  width: 205px;
}
@media (max-width: 1440px) {
  .workers-table__list-actions {
    width: 100px;
  }
}
@media (max-width: 991px) {
  .workers-table__list-actions {
    width: 90px;
  }
}
.workers-table__list-actions .workers-table__list-btn-change {
  display: inline-flex;
  padding-right: 25px;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .workers-table__list-actions .workers-table__list-btn-change {
    padding-right: 0;
  }
}
.workers-table__list-actions .workers-table__list-btn-change:hover, .workers-table__list-actions .workers-table__list-btn-change:active, .workers-table__list-actions .workers-table__list-btn-change:focus-visible {
  color: #7b61ff;
}
.workers-table__list-actions .workers-table__list-btn-change-svg {
  background-image: url("../img/change.svg");
}
.workers-table__list-actions .workers-table__list-btn-change-svg-preloader {
  display: none;
  background-image: url("../img/load-change.svg");
}
.workers-table__list-actions .workers-table__list-btn-change-svg,
.workers-table__list-actions .workers-table__list-btn-change-svg-preloader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
  margin-right: 5px;
  width: 16px;
  max-width: 100%;
  height: 16px;
  max-height: 100%;
}
.workers-table__list-actions .workers-table__list-btn-delete {
  display: inline-flex;
  padding-right: 10px;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .workers-table__list-actions .workers-table__list-btn-delete {
    padding-right: 0;
  }
}
.workers-table__list-actions .workers-table__list-btn-delete:hover, .workers-table__list-actions .workers-table__list-btn-delete:active, .workers-table__list-actions .workers-table__list-btn-delete:focus-visible {
  color: #f06a4d;
}
.workers-table__list-actions .workers-table__list-btn-close-svg {
  background-image: url("../img/close.svg");
}
.workers-table__list-actions .workers-table__list-btn-close-svg-preloader {
  display: none;
  background-image: url("../img/load-close.svg");
}
.workers-table__list-actions .workers-table__list-btn-close-svg,
.workers-table__list-actions .workers-table__list-btn-close-svg-preloader {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1px;
  margin-right: 5px;
  width: 16px;
  max-width: 100%;
  height: 16px;
  max-height: 100%;
}
.workers-table__list-actions button:last-child {
  margin-right: 0;
}

.add-worker {
  margin: 0 auto 100px;
  padding: 12px 26px;
  font-weight: 600;
  text-align: center;
  border: 2px solid #9873ff;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}
.add-worker::before {
  content: "";
  background-image: url("../img/human-add.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
  width: 22px;
  max-width: 100%;
  height: 16px;
  max-height: 100%;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.add-worker:hover, .add-worker:active, .add-worker:focus-visible {
  border: 2px solid #333333;
  color: #ffffff;
  background-color: #333333;
}